[Unit]
Description=Initialize empty unprivileged home volume mount
Before=multi-user.target pi-web-sessiond.service
DefaultDependencies=no

[Service]
User=root
Group=root
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/init-agent

[Install]
WantedBy=sysinit.target
